In [3]:
import pandas as pd

In [1]:
df_dict = {'player_id': {0: 401, 1: 401, 2:  401, 3: 401, 4: 401, 5: 401, 6: 401, 7: 401, 8: 401, 9: 401, 10: 402, 11: 402, 12: 402, 13: 402, 14: 402, 15: 402, 16: 402, 17: 402, 18: 402, 19: 402, 20: 403, 21: 403, 22: 403, 23: 403, 24: 403, 25: 403, 26: 403, 27: 403, 28: 403, 29: 403, 30: 404, 31: 404, 32: 404, 33: 404, 34: 404, 35: 404, 36: 404, 37: 404, 38: 404, 39: 405, 40: 405, 41: 405, 42: 405, 43: 405, 44: 405, 45: 405, 46: 405, 47: 405, 48: 405}, 'match_date': {0: '2021-05-04 00:00:00', 1: '2021-05-09 00:00:00', 2: '2021-05-16 00:00:00', 3: '2021-05-18 00:00:00', 4: '2021-05-22 00:00:00', 5: '2021-06-15 00:00:00', 6: '2021-06-16 00:00:00', 7: '2021-06-18 00:00:00', 8: '2021-07-06 00:00:00', 9: '2021-07-13 00:00:00', 10: '2021-05-14 00:00:00', 11: '2021-05-23 00:00:00', 12: '2021-05-24 00:00:00', 13: '2021-06-01 00:00:00', 14: '2021-06-02 00:00:00', 15: '2021-07-01 00:00:00', 16: '2021-07-11 00:00:00', 17: '2021-07-20 00:00:00', 18: '2021-07-26 00:00:00', 19: '2021-07-30 00:00:00', 20: '2021-05-03 00:00:00', 21: '2021-05-11 00:00:00', 22: '2021-05-12 00:00:00', 23: '2021-05-13 00:00:00', 24: '2021-05-20 00:00:00', 25: '2021-05-25 00:00:00', 26: '2021-07-06 00:00:00', 27: '2021-07-15 00:00:00', 28: '2021-07-22 00:00:00', 29: '2021-07-23 00:00:00', 30: '2021-05-10 00:00:00', 31: '2021-05-16 00:00:00', 32: '2021-05-20 00:00:00', 33: '2021-05-22 00:00:00', 34: '2021-05-28 00:00:00', 35: '2021-06-06 00:00:00', 36: '2021-06-14 00:00:00', 37: '2021-07-25 00:00:00', 38: '2021-07-26 00:00:00', 39: '2021-05-07 00:00:00', 40: '2021-05-25 00:00:00', 41: '2021-06-06 00:00:00', 42: '2021-06-07 00:00:00', 43: '2021-06-14 00:00:00', 44: '2021-07-01 00:00:00', 45: '2021-07-02 00:00:00', 46: '2021-07-14 00:00:00', 47: '2021-07-16 00:00:00', 48: '2021-07-30 00:00:00'}, 'match_result': {0: 'W', 1: 'L', 2: 'L', 3: 'W', 4: 'L', 5: 'L', 6: 'W', 7: 'W', 8: 'L', 9: 'L', 10: 'L', 11: 'L', 12: 'W', 13: 'W', 14: 'W', 15: 'W', 16: 'W', 17: 'L', 18: 'L', 19: 'L', 20: 'L', 21: 'W', 22: 'W', 23: 'W', 24: 'W', 25: 'W', 26: 'L', 27: 'L', 28: 'W', 29: 'W', 30: 'W', 31: 'W', 32: 'W', 33: 'W', 34: 'L', 35: 'L', 36: 'W', 37: 'W', 38: 'L', 39: 'L', 40: 'L', 41: 'L', 42: 'L', 43: 'L', 44: 'L', 45: 'L', 46: 'W', 47: 'L', 48: 'L'}}

In [4]:
df =pd.DataFrame(df_dict)

In [11]:
df.sort_values(by='match_date',inplace=True)

In [14]:
df_403 = df[df['player_id']==403]

In [15]:
df_403

    player_id           match_date match_result
20        403  2021-05-03 00:00:00            L
21        403  2021-05-11 00:00:00            W
22        403  2021-05-12 00:00:00            W
23        403  2021-05-13 00:00:00            W
24        403  2021-05-20 00:00:00            W
25        403  2021-05-25 00:00:00            W
26        403  2021-07-06 00:00:00            L
27        403  2021-07-15 00:00:00            L
28        403  2021-07-22 00:00:00            W
29        403  2021-07-23 00:00:00            W

In [17]:
df_403['match_result_shifted']  = df_403['match_result'].shift()

C:\Users\rahul\AppData\Local\Temp\ipykernel_3844\2809121214.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_403['match_result_shifted']  = df_403['match_result'].shift()

In [20]:
df_403['streak_start'] = df_403['match_result']!=df_403['match_result_shifted']

C:\Users\rahul\AppData\Local\Temp\ipykernel_3844\406052356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_403['streak_start'] = df_403['match_result']!=df_403['match_result_shifted']

In [21]:
df_403

,player_id,match_date,match_result,match_result_shifted,streak_start
20,403,2021-05-03 00:00:00,L,NaN,True
21,403,2021-05-11 00:00:00,W,L,True
22,403,2021-05-12 00:00:00,W,W,False
23,403,2021-05-13 00:00:00,W,W,False
24,403,2021-05-20 00:00:00,W,W,False
25,403,2021-05-25 00:00:00,W,W,False
26,403,2021-07-06 00:00:00,L,W,True
27,403,2021-07-15 00:00:00,L,L,False
28,403,2021-07-22 00:00:00,W,L,True
29,403,2021-07-23 00:00:00,W,W,False

In [22]:
df_403['streak_id'] = df_403['streak_start'].cumsum()

C:\Users\rahul\AppData\Local\Temp\ipykernel_3844\1051761023.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_403['streak_id'] = df_403['streak_start'].cumsum()

In [24]:
df_403['streak_count'] = df_403.groupby('streak_id').cumcount()+1

C:\Users\rahul\AppData\Local\Temp\ipykernel_3844\2975899998.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_403['streak_count'] = df_403.groupby('streak_id').cumcount()+1

In [25]:
df_403

,player_id,match_date,match_result,match_result_shifted,streak_start,streak_id,streak_count
20,403,2021-05-03 00:00:00,L,NaN,True,1,1
21,403,2021-05-11 00:00:00,W,L,True,2,1
22,403,2021-05-12 00:00:00,W,W,False,2,2
23,403,2021-05-13 00:00:00,W,W,False,2,3
24,403,2021-05-20 00:00:00,W,W,False,2,4
25,403,2021-05-25 00:00:00,W,W,False,2,5
26,403,2021-07-06 00:00:00,L,W,True,3,1
27,403,2021-07-15 00:00:00,L,L,False,3,2
28,403,2021-07-22 00:00:00,W,L,True,4,1
29,403,2021-07-23 00:00:00,W,W,False,4,2

In [32]:
for index,row in df.groupby('player_id'):
    print(index," : ",row.sort_values(by='match_date'))

401  :     player_id           match_date match_result
0        401  2021-05-04 00:00:00            W
1        401  2021-05-09 00:00:00            L
2        401  2021-05-16 00:00:00            L
3        401  2021-05-18 00:00:00            W
4        401  2021-05-22 00:00:00            L
5        401  2021-06-15 00:00:00            L
6        401  2021-06-16 00:00:00            W
7        401  2021-06-18 00:00:00            W
8        401  2021-07-06 00:00:00            L
9        401  2021-07-13 00:00:00            L
402  :      player_id           match_date match_result
10        402  2021-05-14 00:00:00            L
11        402  2021-05-23 00:00:00            L
12        402  2021-05-24 00:00:00            W
13        402  2021-06-01 00:00:00            W
14        402  2021-06-02 00:00:00            W
15        402  2021-07-01 00:00:00            W
16        402  2021-07-11 00:00:00            W
17        402  2021-07-20 00:00:00            L
18        402  2021-07-26 00:00:00            L
19        402  2021-07-30 00:00:00            L
403  :      player_id           match_date match_result
20        403  2021-05-03 00:00:00            L
21        403  2021-05-11 00:00:00            W
22        403  2021-05-12 00:00:00            W
23        403  2021-05-13 00:00:00            W
24        403  2021-05-20 00:00:00            W
25        403  2021-05-25 00:00:00            W
26        403  2021-07-06 00:00:00            L
27        403  2021-07-15 00:00:00            L
28        403  2021-07-22 00:00:00            W
29        403  2021-07-23 00:00:00            W
404  :      player_id           match_date match_result
30        404  2021-05-10 00:00:00            W
31        404  2021-05-16 00:00:00            W
32        404  2021-05-20 00:00:00            W
33        404  2021-05-22 00:00:00            W
34        404  2021-05-28 00:00:00            L
35        404  2021-06-06 00:00:00            L
36        404  2021-06-14 00:00:00            W
37        404  2021-07-25 00:00:00            W
38        404  2021-07-26 00:00:00            L
405  :      player_id           match_date match_result
39        405  2021-05-07 00:00:00            L
40        405  2021-05-25 00:00:00            L
41        405  2021-06-06 00:00:00            L
42        405  2021-06-07 00:00:00            L
43        405  2021-06-14 00:00:00            L
44        405  2021-07-01 00:00:00            L
45        405  2021-07-02 00:00:00            L
46        405  2021-07-14 00:00:00            W
47        405  2021-07-16 00:00:00            L
48        405  2021-07-30 00:00:00            L